@model List<WebApplication1.Controllers.Class1>

<table>
    <tr>
        <th>#</th>
        <th>Adı Soyadı</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Düzenle</a></td>
        </tr>
    }
</table>